:root {
  --ifm-color-primary: #0d9488;
  --ifm-color-primary-dark: #0f766e;
  --ifm-color-primary-darker: #0b6963;
  --ifm-color-primary-darkest: #085c56;
  --ifm-color-primary-light: #14b8a6;
  --ifm-color-primary-lighter: #2dd4bf;
  --ifm-color-primary-lightest: #5eead4;
  --ifm-font-family-base: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', system-ui, sans-serif;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #14b8a6;
  --ifm-color-primary-dark: #0d9488;
  --ifm-color-primary-darker: #0f766e;
  --ifm-color-primary-darkest: #085c56;
  --ifm-color-primary-light: #2dd4bf;
  --ifm-color-primary-lighter: #5eead4;
  --ifm-color-primary-lightest: #99f6e4;
}
